{% extends "base.html" %}

{% block content %}

<nav class="navbar">       
    <div class="navbar-links">
        <a href="{% url 'filterEmployee' %}">Filter</a>
        <a href="{% url 'sortEmployee' 1 %}">Ascending By Age</a>
        <a href="{% url 'sortEmployee' 2 %}">Descending By Age</a>
    </div>
</nav>

<div class="table-container">
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Age</th>
                <th>Salary</th>
                <th>Join Date</th>
                <th>Post</th>
                <th colspan="2">Action</th>
            </tr>
        </thead>

        <tbody>
            {% for emp in employees %}
            <tr>
                <td>{{ emp.id }}</td>
                <td>{{ emp.name }}</td>
                <td>{{ emp.age }}</td>
                <td>{{ emp.salary }}</td>
                <td>{{ emp.join_date }}</td>
                <td>{{ emp.post }}</td>
                <td><a href="{% url 'deleteEmployee' emp.id %}">Delete</a></td>
                <td><a href="{% url 'updateEmployee' emp.id %}">Update</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}